{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Labels</h2>
{% endblock %}

{% block main %}
<div class="labels">
  <h3>Example</h3>
  <h1>Example heading <span class="label label-default">New</span></h1>
  <h2>Example heading <span class="label label-default">New</span></h2>
  <h3>Example heading <span class="label label-default">New</span></h3>
  <h4>Example heading <span class="label label-default">New</span></h4>
  <h5>Example heading <span class="label label-default">New</span></h5>
  <h6>Example heading <span class="label label-default">New</span></h6>

  <h3>Available variations</h3>
  <span class="label label-default">Default</span>
  <span class="label label-primary">Primary</span>
  <span class="label label-success">Success</span>
  <span class="label label-info">Info</span>
  <span class="label label-warning">Warning</span>
  <span class="label label-danger">Danger</span>
</div>
{% endblock %}
