{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Wells</h2>
{% endblock %}

{% block main %}
<div class="wells-block">
  <h3>Default well</h3>
  <div class="well">Sit Aenean Vulputate Condimentum Ridiculus</div>
  <h3>Optional classes</h3>
  <div class="well well-lg">Sit Aenean Vulputate Condimentum Ridiculus</div>
  <div class="well well-sm">Sit Aenean Vulputate Condimentum Ridiculus</div>
</div>
{% endblock %}
