{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Autocomplete</h2>
{% endblock %}

{% block main %}
<div class="form-inline">
  <div class="ui-widget form-group">
    <label for="tags" class="">Tags: </label>
    <input class="tags form-control">
  </div>
</div>  
{% endblock %}
