{% extends '::base.html.twig' %}

{% block header_title %}
    <h2>
        {{ 'example.header.title.index'|trans|capitalize }}
    </h2>
{% endblock %}

{% block main %}
    Hello {{ name }}!
{% endblock %}





