<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="UTF-8" />
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block meta %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block head_javascripts %}
    {% endblock %}

    {% block icons %}
    {% endblock %}
</head>

<body>
<div id="contentWrap">
    <div id="content">
        <header id="header" role="banner">
            <div class="container bar">
                <div class="title">
                    <a id="toggleMenu" class="visible-xs iconLink" href="#">{{ 'navigation.titles.showHideMenu'|trans|capitalize }}</a>
                    {% block header_title %}
                    {% endblock %}
                </div>
                <div class="actions">
                    <a href="#" class="dropdownToggle visible-xs">{{ 'navigation.titles.possible_actions'|trans|capitalize }}:</a>
                    {% block header_navigation %}
                    {% endblock %}
                </div>
            </div>
        </header>

        <section id="main" role="main">
            <div class="container">
                {% block main %}
                {% endblock %}
            </div>
        </section>
    </div>

    {% block footer %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
