{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Autocomplete</h2>
{% endblock %}

{% block main %}
<div class="form-inline">
  <div class="ui-widget input-group">
    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
    <input type="text" id="autocomplete-example" class="tags form-control">
  </div>
</div>
{% endblock %}
