{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Datepicker</h2>
{% endblock %}

{% block main %}
<div class="col-xs-3">
  <label for="dateinput"> Date: </label>
  <input type="text" class="datepicker form-control" id="dateinput">
</div>
{% endblock %}
