{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Grid</h2>
{% endblock %}

{% block main %}
<div class="block-link">
  <p> Meer info en voorbeelden op <a href="http://getbootstrap.com/css/#grid">http://getbootstrap.com/css/#grid</a></p>
</div>
{% endblock %}
