{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Jumbotron</h2>
{% endblock %}

{% block main %}
<div class="jumbotrons">
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
{% endblock %}
