{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Panels</h2>
{% endblock %}

{% block main %}
<div class="panels-block">
  <h3>Basic example</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      Basic panel example
    </div>
  </div>

  <h3>Panel with heading</h3>
  <div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

  <h3>Panel with footer</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
  </div>

  <h3>Contextual alternatives</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">Panel title</div>
    <div class="panel-body">Panel content</div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">Panel title</div>
    <div class="panel-body">Panel content</div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Panel title</div>
    <div class="panel-body">Panel content</div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">Panel title</div>
    <div class="panel-body">Panel content</div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">Panel title</div>
    <div class="panel-body">Panel content</div>
  </div>

  <h3>With tables</h3>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <table class="table">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>

  <h3>With list groups</h3>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>Donec sed odio dui. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.</p>
    </div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
{% endblock %}
