{% extends '::base.html.twig' %}

{% block header_title %}
<h2>Sortable</h2>
{% endblock %}

{% block main %}
<div class="sortable-block">
  <ul class="sortable">
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 1</li>
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 2</li>
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 3</li>
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 4</li>
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 5</li>
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 6</li>
    <li class="ui-state-default"><span class="fa fa-arrows-v"></span> Item 7</li>
  </ul>
</div>
{% endblock %}
